/* General body styling */
body {font-family: Lucida Sans, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #800080;
}

/* Header styling */
title {color: aqua; 
    text-align:center;
    font-weight: bold;
    text-decoration: wavy;
}

/* paragraph styling */     
 p {color: lime;
    font-size: 1.5em;
    text-align: justify;
}
    a {color: yellow;
    text-decoration: none;
}
    a:hover {color: orange;
    }

/* styling for the main title */    
    h1 {font-size: 3em;
    color: red;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
/* styling for the subheadings */    
    h2 {font-size: 2em;
    color: green;
    text-align: center;
}
    h4 {font-size: 1.5em;
    color: blue;
    text-align: center;
}
